.navbar {
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: auto 10%;
    height: 82px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.677);
    box-shadow: 0 12px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    align-content: center;

}

.navbar__options {
    display: flex;
    padding-top: 10px;
    padding-left: 100px;

}